{% extends 'layout.html' %}

{% block content %}
<h1 class="text-center">Add Driver</h1>
<form method="POST" class="w-50 mx-auto">
    <div class="mb-3">
        <label class="form-label">Driver Name</label>
        <input type="text" class="form-control" name="driver_name" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Driver ID</label>
        <input type="text" class="form-control" name="driver_id" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Driver License Number</label>
        <input type="text" class="form-control" name="license_number" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Driver Contact Number</label>
        <input type="text" class="form-control" name="driver_contact" required>
    </div>
    <button type="submit" class="btn btn-success">Add Driver</button>
</form>
{% endblock %}
